In [1]:
import os
os.getcwd()

'D:\\Documents\\PycharmProjects\\LEADING-RAMP'

In [2]:
import pandas as pd

In [3]:
from dateutil.parser import parse 
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
plt.rcParams.update({'figure.figsize': (10, 7), 'figure.dpi': 120})

In [4]:
#list files names in a dir
from os import listdir
from os.path import isfile, join
onlyfiles = [f for f in listdir('D:\\Research Data\\LEADING Fellowship\\daily_clicks_per_ir\\first-batch') 
             if isfile(join('D:\\Research Data\\LEADING Fellowship\\daily_clicks_per_ir\\first-batch', f))]

In [5]:
onlyfiles

['boston_university_RAMP_pc_daily_clicks.csv',
 'california_tech_authors_RAMP_pc_daily_clicks.csv',
 'california_tech_thesis_RAMP_pc_daily_clicks.csv',
 'kansas_state_university_RAMP_pc_daily_clicks.csv',
 'maryland_drum_RAMP_pc_daily_clicks.csv',
 'montana_state_university_RAMP_pc_daily_clicks.csv',
 'northern_kentucky_university_RAMP_pc_daily_clicks.csv',
 'rutgers_university_RAMP_pc_daily_clicks.csv',
 'swarthmore_college_RAMP_pc_daily_clicks.csv',
 'texas_am_university_RAMP_pc_daily_clicks.csv',
 'university_kentucky_RAMP_pc_daily_clicks.csv',
 'university_michigan_RAMP_pc_daily_clicks.csv',
 'university_nevada_las_vegas_RAMP_pc_daily_clicks.csv',
 'university_new_mexico_RAMP_pc_daily_clicks.csv',
 'university_texas_RAMP_pc_daily_clicks.csv']

In [6]:
# Reference to script from https://www.geeksforgeeks.org/read-multiple-csv-files-into-separate-dataframes-in-python/
# assign dataset names
list_of_names = ['boston_university_RAMP_pc_daily_clicks.csv','california_tech_authors_RAMP_pc_daily_clicks.csv',
                 'california_tech_thesis_RAMP_pc_daily_clicks.csv','kansas_state_university_RAMP_pc_daily_clicks.csv',
                 'maryland_drum_RAMP_pc_daily_clicks.csv','montana_state_university_RAMP_pc_daily_clicks.csv',
                 'northern_kentucky_university_RAMP_pc_daily_clicks.csv','rutgers_university_RAMP_pc_daily_clicks.csv',
                 'swarthmore_college_RAMP_pc_daily_clicks.csv','texas_am_university_RAMP_pc_daily_clicks.csv',
                 'university_kentucky_RAMP_pc_daily_clicks.csv','university_michigan_RAMP_pc_daily_clicks.csv',
                 'university_nevada_las_vegas_RAMP_pc_daily_clicks.csv','university_new_mexico_RAMP_pc_daily_clicks.csv',
                 'university_texas_RAMP_pc_daily_clicks.csv']

# create empty list
dataframes_list = []
 
# append datasets into teh list
for i in range(len(list_of_names)):
    temp_df = pd.read_csv("D:\\Research Data\\LEADING Fellowship\\daily_clicks_per_ir\\first-batch\\"+list_of_names[i], parse_dates = ['date'], index_col = "date")
    dataframes_list.append(temp_df)
# Future modification is to see if I can read each file and assign a df name during the process.

In [7]:
dataframes_list[0]  #Each file has been read as df with date as index, and stored in a list

            clicks      repository_id
date
2017-12-17   645.0  boston_university
2017-12-18   715.0  boston_university
2017-12-19   732.0  boston_university
2017-12-20   670.0  boston_university
2017-12-21     2.0  boston_university
...            ...                ...
2021-03-27   375.0  boston_university
2021-03-28   471.0  boston_university
2021-03-29   531.0  boston_university
2021-03-30   495.0  boston_university
2021-03-31   478.0  boston_university

[1200 rows x 2 columns]

In [8]:
# Concat all df in the list to one dataframe 
# This method aggregate each IR dataframe from the list format into one df and export as a csv file. 
# There are 20377 rows of record in this dataframe
pd.concat(dataframes_list).to_csv('all_IR_from2017.csv')

In [9]:
all_ir = pd.read_csv("all_IR_from2017.csv")

In [10]:
all_ir.head()
#Notice that after concat, the date column is no longer indexed.

         date  clicks      repository_id
0  2017-12-17   645.0  boston_university
1  2017-12-18   715.0  boston_university
2  2017-12-19   732.0  boston_university
3  2017-12-20   670.0  boston_university
4  2017-12-21     2.0  boston_university

In [11]:
all_ir.tail()

             date  clicks     repository_id
20372  2021-03-27  2711.0  university_texas
20373  2021-03-28  3440.0  university_texas
20374  2021-03-29  3768.0  university_texas
20375  2021-03-30  3709.0  university_texas
20376  2021-03-31  3679.0  university_texas

If I call on the dataframe list on its own, then the date is still indexed.

In [13]:
#checking the first IR and if the datatype is correct 
boston = dataframes_list[0]
boston.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1200 entries, 2017-12-17 to 2021-03-31
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   clicks         1200 non-null   float64
 1   repository_id  1200 non-null   object
dtypes: float64(1), object(1)
memory usage: 28.1+ KB

In [14]:
!pip install statsmodels

from statsmodels.tsa.seasonal import seasonal_decompose
from dateutil.parser import parse

Traceback (most recent call last):
  File "d:\program files\python\python38\lib\runpy.py", line 194, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "d:\program files\python\python38\lib\runpy.py", line 87, in _run_code
    exec(code, run_globals)
  File "D:\Program Files\Python\Python38\Scripts\pip.exe\__main__.py", line 4, in <module>
  File "d:\program files\python\python38\lib\site-packages\pip\_internal\cli\main.py", line 10, in <module>
    from pip._internal.cli.autocompletion import autocomplete
  File "d:\program files\python\python38\lib\site-packages\pip\_internal\cli\autocompletion.py", line 9, in <module>
    from pip._internal.cli.main_parser import create_main_parser
  File "d:\program files\python\python38\lib\site-packages\pip\_internal\cli\main_parser.py", line 7, in <module>
    from pip._internal.cli import cmdoptions
  File "d:\program files\python\python38\lib\site-packages\pip\_internal\cli\cmdoptions.py", line 24, in <module>
    from pip._internal.cli.progress_bars import BAR_TYPES
  File "d:\program files\python\python38\lib\site-packages\pip\_internal\cli\progress_bars.py", line 12, in <module>
    from pip._internal.utils.logging import get_indentation
  File "d:\program files\python\python38\lib\site-packages\pip\_internal\utils\logging.py", line 18, in <module>
    from pip._internal.utils.misc import ensure_dir
  File "d:\program files\python\python38\lib\site-packages\pip\_internal\utils\misc.py", line 31, in <module>
    from pip._internal.locations import (
  File "d:\program files\python\python38\lib\site-packages\pip\_internal\locations\__init__.py", line 9, in <module>
    from pip._internal.models.scheme import SCHEME_KEYS, Scheme
ImportError: cannot import name 'SCHEME_KEYS' from 'pip._internal.models.scheme' (d:\program files\python\python38\lib\site-packages\pip\_internal\models\scheme.py)

In [22]:
# getting length of list
length = len(dataframes_list)

Manually assigned the IR name with each dataframe in the dataframes_list to create a dictionary

In [45]:
def plot_series(df):
    for i in range(df):
        data = dataframes_list[i]
        data.sort_index(inplace=True)

        # Additive Decomposition
        add_decomp = seasonal_decompose(data['clicks'], model='additive', extrapolate_trend='freq', period = 7) # for now I'm using 7 for weekly cycle 

        # Multiplicative Decomposition
        # multi_decomp = seasonal_decompose(data['clicks'], model='multiplicative', extrapolate_trend='freq', period = 7) # for now I'm using 7 for weekly cycle 

        #For graphing 
        trend = add_decomp.trend
        seasonal = add_decomp.seasonal
        residual = add_decomp.resid

        # Plot gathered statistics
        plt.figure(figsize=(12,8))
        plt.subplot(411)
        plt.plot(data['clicks'], label='Original', color="blue")
        plt.legend(loc='best')
        plt.subplot(412)
        plt.plot(trend, label='Trend', color="blue")
        plt.legend(loc='best')
        plt.subplot(413)
        plt.plot(seasonal,label='Seasonality', color="blue")
        plt.legend(loc='best')
        plt.subplot(414)
        plt.plot(residual, label='Residuals', color="blue")
        plt.legend(loc='best')
        plt.tight_layout()

        # summary statistics
        print(residual.describe())

        np.mean(residual)

        return

In [46]:
for key, value in uni_names.items():
    plot_series(value)

AttributeError: 'list' object has no attribute 'items'